<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title> Budget Planner </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-card>
          <ion-card-header>
            <ion-card-title>New Expense</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-label position="floating" class="label">Item</ion-label>
              <ion-input type="number"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating" class="label">Expence</ion-label>
              <ion-input type="number"></ion-input>
            </ion-item>
            <div vertical- class="ion-text-right">
              <ion-button fill="outline" color="danger">
                <ion-icon name="close-outline" slot="start"></ion-icon>
                Clear
              </ion-button>
              <ion-button>
                <ion-icon name="add-outline" slot="start"></ion-icon> Add
                Expence
              </ion-button>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
